/* (min-width: 992px) and (max-width:1220px)start here  */
@media (min-width: 992px) and (max-width:1220px){
    header{
    
    }
    .navbar-expand-lg {
    
    }
    .body_top-1{
    }
    .body_top-1 ul{
        
    }
    .body_top-1 ul li{
    }
    .body_top-1 ul li a{
        
    }
    .body_top-1 ul li a i{
        
    }
    .body_top-1 ul li a i:hover{
    
    }
    
    .body_top-2{
        
    }
    .body_top-2 ul{
        
    }
    .body_top-2 ul li{
    }
    .body_top-2 ul li a{
        
    }
    .body_top-2 ul li a i{
    
    }
    .body_top-2 ul form{
    
    }
    .btn-search {
    
    }
    .btn-search.btn:hover {
    
    }
    
    .Dental{
    
    }
    .Dental-logo{
    
    }
    .Dental ul{
    
    }
    .Dental ul li{
        
    }
    .Dental ul li a{
    
    }
    .Dental ul li a i{
    
    }
    .Dental ul li h2{
        
    }
    .Dental ul li p{
        
    }
    .hero{
    
    }
    .nav-link {
    
    }
    .nav-link:focus, .nav-link:hover {
    
    }
    .hero-7{
        
    }
    .hero-7 a{
    
    }
    .hero-7 a i{
        
    }
    .hero-8{
    
    }
    .hero-8 a{
    
    }
    .hero-8 a i{
    
    }
    .banner{
    }
    .bannre_left{
    }
    .bannre_left h5{
    
    }
    .banner_right{
        
    }
    .banner_right ul{
    
    }
    .banner_right ul li{
    
    }
    .banner_right ul li h5{
    
    }
    .banner_right ul li a{
    
    }
    .banner_right ul li a span{
    
    }
    .teeth{
    
    }
    .teeth-img{
    
    }
    .teeth h2{
    
    }
    .teeth h5{
    
    }
    .teeth p{
    
    }
    .Search_section{
    
    }
    .Search_section form{
    
    }
    .btn-search_2{
    
    }
    .dental-plus{
    
    }
    .dental-plus .img_div{
    
    }
    .dental-plus p{
    
    }
    .dental-plus ul{
        
    }
    .dental-plus ul li{
        
    }
    .dental-plus ul li a{
    
    }
    .dental-plus ul li a i{
    
    }
    .dental-plus ul li p{
    
    }
    .Recent_Post{
    
    }
    .Recent_Post h2{
        
    }
    .Recent_Post ul{
        
    }
    .Recent_Post ul li{
        
    }
    .Recent_Post ul li img{
    
    }
    .Recent_Post ul li p{
    }
    .Recent_Post ul li h6{
        
    }
    .New_sletter{
    
    }
    .New_sletter h2{
        
    }
    .New_sletter p{
    
    }
    .New_sletter form{
        
    }
    .btn-outline-success:hover {
    
    }
    .btn-outline-success {
    
    }
    .New_sletter p {
    
    }
    .New_sletter ul{
    
    }
    .New_sletter ul li h2{
    
    }
    .New_sletter ul li a i{
    
    }
    .New_sletter ul li a i:hover{
    
    }
    footer{
    
    }
    footer p{
        
    }
    footer p span{
    
    } 
}
/* (min-width: 992px) and (max-width:1220px) end here  */
/* (min-width: 768px) and (max-width:991px) start here  */
@media (min-width: 768px) and (max-width:991px){
    header{
    
    }
    .navbar-expand-lg {
    
    }
    .body_top-1{
    }
    .body_top-1 ul{
        
    }
    .body_top-1 ul li{
    }
    .body_top-1 ul li a{
        
    }
    .body_top-1 ul li a i{
        
    }
    .body_top-1 ul li a i:hover{
    
    }
    
    .body_top-2{
        
    }
    .body_top-2 ul{
        
    }
    .body_top-2 ul li{
    }
    .body_top-2 ul li a{
        
    }
    .body_top-2 ul li a i{
    
    }
    .body_top-2 ul form{
    
    }
    .btn-search {
    
    }
    .btn-search.btn:hover {
    
    }
    
    .Dental{
    
    }
    .Dental-logo{
    
    }
    .Dental ul{
    
    }
    .Dental ul li{
        
    }
    .Dental ul li a{
    
    }
    .Dental ul li a i{
    
    }
    .Dental ul li h2{
        
    }
    .Dental ul li p{
        
    }
    .hero{
    
    }
    .nav-link {
    
    }
    .nav-link:focus, .nav-link:hover {
    
    }
    .hero-7{
        
    }
    .hero-7 a{
    
    }
    .hero-7 a i{
        
    }
    .hero-8{
    
    }
    .hero-8 a{
    
    }
    .hero-8 a i{
    
    }
    .banner{
    }
    .bannre_left{
    }
    .bannre_left h5{
    
    }
    .banner_right{
        
    }
    .banner_right ul{
    
    }
    .banner_right ul li{
    
    }
    .banner_right ul li h5{
    
    }
    .banner_right ul li a{
    
    }
    .banner_right ul li a span{
    
    }
    .teeth{
    
    }
    .teeth-img{
    
    }
    .teeth h2{
    
    }
    .teeth h5{
    
    }
    .teeth p{
    
    }
    .Search_section{
    
    }
    .Search_section form{
    
    }
    .btn-search_2{
    
    }
    .dental-plus{
    
    }
    .dental-plus .img_div{
    
    }
    .dental-plus p{
    
    }
    .dental-plus ul{
        
    }
    .dental-plus ul li{
        
    }
    .dental-plus ul li a{
    
    }
    .dental-plus ul li a i{
    
    }
    .dental-plus ul li p{
    
    }
    .Recent_Post{
    
    }
    .Recent_Post h2{
        
    }
    .Recent_Post ul{
        
    }
    .Recent_Post ul li{
        
    }
    .Recent_Post ul li img{
    
    }
    .Recent_Post ul li p{
    }
    .Recent_Post ul li h6{
        
    }
    .New_sletter{
    
    }
    .New_sletter h2{
        
    }
    .New_sletter p{
    
    }
    .New_sletter form{
        
    }
    .btn-outline-success:hover {
    
    }
    .btn-outline-success {
    
    }
    .New_sletter p {
    
    }
    .New_sletter ul{
    
    }
    .New_sletter ul li h2{
    
    }
    .New_sletter ul li a i{
    
    }
    .New_sletter ul li a i:hover{
    
    }
    footer{
    
    }
    footer p{
        
    }
    footer p span{
    
    }
}
/* (min-width: 768px) and (max-width:991px) end here  */
/* (min-width: 576px) and (max-width:767px) start here  */
@media (min-width: 576px) and (max-width:767px){
    header{
    
    }
    .navbar-expand-lg {
    
    }
    .body_top-1{
    }
    .body_top-1 ul{
        
    }
    .body_top-1 ul li{
    }
    .body_top-1 ul li a{
        
    }
    .body_top-1 ul li a i{
        
    }
    .body_top-1 ul li a i:hover{
    
    }
    
    .body_top-2{
        
    }
    .body_top-2 ul{
        
    }
    .body_top-2 ul li{

    }
    .body_top-2 ul li a{
        
    }
    .body_top-2 ul li a i{
    
    }
    .body_top-2 ul form{
    
    }
    .btn-search {
    
    }
    .btn-search.btn:hover {
    
    }
    
    .Dental{
    
    }
    .Dental-logo{
    
    }
    .Dental ul{
    
    }
    .Dental ul li{
        
    }
    .Dental ul li a{
    
    }
    .Dental ul li a i{
    
    }
    .Dental ul li h2{
        
    }
    .Dental ul li p{
        
    }
    .hero{
    
    }
    .nav-link {
    
    }
    .nav-link:focus, .nav-link:hover {
    
    }
    .hero-7{
        
    }
    .hero-7 a{
    
    }
    .hero-7 a i{
        
    }
    .hero-8{
    
    }
    .hero-8 a{
    
    }
    .hero-8 a i{
    
    }
    .banner{
    }
    .bannre_left{
    }
    .bannre_left h5{
    
    }
    .banner_right{
        
    }
    .banner_right ul{
    
    }
    .banner_right ul li{
    
    }
    .banner_right ul li h5{
    
    }
    .banner_right ul li a{
    
    }
    .banner_right ul li a span{
    
    }
    .teeth{
    
    }
    .teeth-img{
    
    }
    .teeth h2{
    
    }
    .teeth h5{
    
    }
    .teeth p{
    
    }
    .Search_section{
    
    }
    .Search_section form{
    
    }
    .btn-search_2{
    
    }
    .dental-plus{
    
    }
    .dental-plus .img_div{
    
    }
    .dental-plus p{
    
    }
    .dental-plus ul{
        
    }
    .dental-plus ul li{
        
    }
    .dental-plus ul li a{
    
    }
    .dental-plus ul li a i{
    
    }
    .dental-plus ul li p{
    
    }
    .Recent_Post{
    
    }
    .Recent_Post h2{
        
    }
    .Recent_Post ul{
        
    }
    .Recent_Post ul li{
        
    }
    .Recent_Post ul li img{
    
    }
    .Recent_Post ul li p{
    }
    .Recent_Post ul li h6{
        
    }
    .New_sletter{
    
    }
    .New_sletter h2{
        
    }
    .New_sletter p{
    
    }
    .New_sletter form{
        
    }
    .btn-outline-success:hover {
    
    }
    .btn-outline-success {
    
    }
    .New_sletter p {
    
    }
    .New_sletter ul{
    
    }
    .New_sletter ul li h2{
    
    }
    .New_sletter ul li a i{
    
    }
    .New_sletter ul li a i:hover{
    
    }
    footer{
    
    }
    footer p{
        
    }
    footer p span{
    
    }
}
/* (min-width: 576px) and (max-width:767px) end here  */
/* (min-width: 426px) and (max-width:575px) start here  */
@media (min-width: 426px) and (max-width:575px){
    header{
    
    }
    .navbar-expand-lg {
    
    }
    .body_top-1{
    }
    .body_top-1 ul{
        
    }
    .body_top-1 ul li{
    }
    .body_top-1 ul li a{
        
    }
    .body_top-1 ul li a i{
        
    }
    .body_top-1 ul li a i:hover{
    
    }
    
    .body_top-2{
        
    }
    .body_top-2 ul{
        
    }
    .body_top-2 ul li{
    }
    .body_top-2 ul li a{
        
    }
    .body_top-2 ul li a i{
    
    }
    .body_top-2 ul form{
    
    }
    .btn-search {
    
    }
    .btn-search.btn:hover {
    
    }
    
    .Dental{
    
text-align: center;
    }
    .Dental-logo{
    }
    .Dental ul{
    
justify-content: center;
    
padding-top: 10px;
    }
    .Dental ul li{
        
    }
    .Dental ul li a{
    
    }
    .Dental ul li a i{
    
    }
    .Dental ul li h2{
        
text-align: left !important;
    }
    .Dental ul li p{
        
text-align: left !important;
    }
    .hero{
    
text-align: center;
    }
    .nav-link {
    
    }
    .nav-link:focus, .nav-link:hover {
    
    }
    .hero-7{
        
    }
    .hero-7 a{
    
    }
    .hero-7 a i{
        
    }
    .hero-8{
    
    }
    .hero-8 a{
    
    }
    .hero-8 a i{
    
    }
    .banner{
    }
    .bannre_left{
    }
    .bannre_left h5{
    
    }
    .banner_right{
        
    }
    .banner_right ul{
    
    }
    .banner_right ul li{
    
    }
    .banner_right ul li h5{
    
    }
    .banner_right ul li a{
    
    }
    .banner_right ul li a span{
    
    }
    .teeth{
    
    }
    .teeth-img{
    
    }
    .teeth h2{
    
font-size: 35px;
    }
    .teeth h5{
    
font-size: 20px;
    }
    .teeth p{
    
    }
    .Search_section{
    
    }
    .Search_section form{
    
    }
    .btn-search_2{
    
    }
    .dental-plus{
    
    }
    .dental-plus .img_div{
    
text-align: center;
    
margin: 0;
    }
    .dental-plus p{
    
text-align: center;
    }
    .dental-plus ul{
    }
    .dental-plus ul li{
        
    }
    .dental-plus ul li a{
    
font-size: 24px;
    }
    .dental-plus ul li a i{
    
    }
    .dental-plus ul li p{
    
text-align: left;
    }
    .Recent_Post{
    
    }
    .Recent_Post h2{
        
text-align: center;
    }
    .Recent_Post ul{
        
    }
    .Recent_Post ul li{
        
    }
    .Recent_Post ul li img{
    
    }
    .Recent_Post ul li p{
    }
    .Recent_Post ul li h6{
        
    }
    .New_sletter{
    
    }
    .New_sletter h2{
        
text-align: center;
    }
    .New_sletter p{
    
    }
    .New_sletter form{
        
    }
    .btn-outline-success:hover {
    
    }
    .btn-outline-success {
    
    }
    .New_sletter p {
    
    }
    .New_sletter ul{
    
justify-content: space-around;
    }
    .New_sletter ul li h2{
    
margin: 0;
    }
    .New_sletter ul li a i{
    
margin: 0;
    }
    .New_sletter ul li a i:hover{
    
    }
    footer{
    
    }
    footer p{
        
    }
    footer p span{
    
    }
}
/* (min-width: 426px) and (max-width:575px) end here  */
/* (min-width: 376px) and (max-width:425px) start here  */
@media (min-width: 376px) and (max-width:425px){
    header{
    
    }
    .navbar-expand-lg {
    
    }
    .body_top-1{
    }
    .body_top-1 ul{
        
    }
    .body_top-1 ul li{
    }
    .body_top-1 ul li a{
        
    }
    .body_top-1 ul li a i{
        
    }
    .body_top-1 ul li a i:hover{
    
    }
    
    .body_top-2{
        
    }
    .body_top-2 ul{
        
    }
    .body_top-2 ul li{
    }
    .body_top-2 ul li a{
        
    }
    .body_top-2 ul li a i{
    
    }
    .body_top-2 ul form{
    
    }
    .btn-search {
    
    }
    .btn-search.btn:hover {
    
    }
    
    .Dental{
    
    }
    .Dental-logo{
    
    }
    .Dental ul{
    
margin-top: 1rem;
    }
    .Dental ul li{
        
    }
    .Dental ul li a{
    
    }
    .Dental ul li a i{
    
font-size: 40px;
    }
    .Dental ul li h2{
        
    }
    .Dental ul li p{
        
font-size: 17px;
    }
    .hero{
    
    }
    .nav-link {
    
text-align: center;
    }
    .nav-link:focus, .nav-link:hover {
    
    }
    .hero-7{
        
    }
    .hero-7 a{
    
    }
    .hero-7 a i{
        
    }
    .hero-8{
    
    }
    .hero-8 a{
    
    }
    .hero-8 a i{
    
    }
    .banner{
    }
    .bannre_left{
    padding-top: 200px;
    }
    .bannre_left h5{
    
    }
    .banner_right{
        
padding-top: 80px;
    }
    .banner_right ul{
    
    }
    .banner_right ul li{
    
    }
    .banner_right ul li h5{
    
    }
    .banner_right ul li a{
    
    }
    .banner_right ul li a span{
    
    }
    .teeth{
    
margin: 0 !important;
    }
    .teeth-img{
    
    }
    .teeth h2{
    
font-size: 28px;
    }
    .teeth h5{
    
font-size: 24px;
    }
    .teeth p{
    
    }
    .Search_section{
    
    }
    .Search_section form{
    
    }
    .btn-search_2{
    
    }
    .dental-plus{
    
    }
    .dental-plus .img_div{
    
margin: 0;
    
text-align: center;
    }
    .dental-plus p{
    
text-align: center;
    
font-size: 16px;
    
margin-top: 2rem;
    }
    .dental-plus ul{
        
margin-top: 2rem;
    }
    .dental-plus ul li{
        
    }
    .dental-plus ul li a{
    
    }
    .dental-plus ul li a i{
    
    }
    .dental-plus ul li p{
    
text-align: left;
    
font-size: 16px;
    }
    .Recent_Post{
    
padding-top: 1rem !important;
    }
    .Recent_Post h2{
        
text-align: center;
    }
    .Recent_Post ul{
        
margin: 0;
    }
    .Recent_Post ul li{
        
padding-top: 10px;
    }
    .Recent_Post ul li img{
    
height: 80px;
    
width: 80px;
    }
    .Recent_Post ul li p{
    font-size: 16px;
    }
    .Recent_Post ul li h6{
        
    }
    .New_sletter{
    
padding-top: 10px !important;
    }
    .New_sletter h2{
        
text-align: center;
    }
    .New_sletter p{
    
    }
    .New_sletter form{
        
    }
    .btn-outline-success:hover {
    
    }
    .btn-outline-success {
    
    }
    .New_sletter p {
    
margin: 20px 0;
    }
    .New_sletter ul{
    
justify-content: space-between;
    }
    .New_sletter ul li h2{
    
    }
    .New_sletter ul li a i{
    
    }
    .New_sletter ul li a i:hover{
    
    }
    footer{
    
padding: 40px 0;
    }
    footer p{
        
    }
    footer p span{
    
    }
}
/* (min-width: 376px) and (max-width:425px) end here  */
/* (min-width: 321px) and (max-width: 375px) start here  */
@media (min-width: 321px) and (max-width: 375px){
    header{
    
    }
    .navbar-expand-lg {
    
    }
    .body_top-1{
    }
    .body_top-1 ul{
        
    }
    .body_top-1 ul li{
    }
    .body_top-1 ul li a{
        
    }
    .body_top-1 ul li a i{
        
    }
    .body_top-1 ul li a i:hover{
    
    }
    
    .body_top-2{
        
    }
    .body_top-2 ul{
        
    }
    .body_top-2 ul li{
    }
    .body_top-2 ul li a{
        
    }
    .body_top-2 ul li a i{
    
    }
    .body_top-2 ul form{
    
    }
    .btn-search {
    
    }
    .btn-search.btn:hover {
    
    }
    
    .Dental{
    
    }
    .Dental-logo{
    
    }
    .Dental ul{
    
margin-top: 15px;
    }
    .Dental ul li{
        
    }
    .Dental ul li a{
    
    }
    .Dental ul li a i{
    
font-size: 35px;
    }
    .Dental ul li h2{
        
    }
    .Dental ul li p{
        
margin: 0;
        
margin-left: 10px;
        
font-size: 16px;
    }
    .hero{
    
    }
    .nav-link {
    
text-align: center;
    }
    .nav-link:focus, .nav-link:hover {
    
    }
    .hero-7{
        
    }
    .hero-7 a{
    
    }
    .hero-7 a i{
        
    }
    .hero-8{
    
    }
    .hero-8 a{
    
    }
    .hero-8 a i{
    
    }
    .banner{
    }
    .bannre_left{
    padding-top: 12rem;
    }
    .bannre_left h5{
    
    }
    .banner_right{
        
padding-top: 5rem;
    }
    .banner_right ul{
    }
    .banner_right ul li{
    
    }
    .banner_right ul li h5{
    }
    .banner_right ul li a{
    
    }
    .banner_right ul li a span{
    
    }
    .teeth{
    
margin: 0 !important;
    
padding: 0 !important;
    
padding-top: 30px !important;
    }
    .teeth-img{
    
    }
    .teeth h2{
    
font-size: 24px;
    }
    .teeth h5{
    
font-size: 20px;
    }
    .teeth p{
    
    }
    .Search_section{
    
padding: 2rem 0 !important;
    }
    .Search_section form{
    
    }
    .btn-search_2{
    
    }
    .dental-plus{
    
    }
    .dental-plus .img_div{
    
margin: 0;
    
text-align: center;
    }
    .dental-plus p{
    
margin-top: 1rem;
    
text-align: center;
    
font-size: 16px;
    }
    .dental-plus ul{
        
margin-top: 2rem;
    }
    .dental-plus ul li{
        
    }
    .dental-plus ul li a{
    
    }
    .dental-plus ul li a i{
    
    }
    .dental-plus ul li p{
    
text-align: left;
    }
    .Recent_Post{
    
padding-top: 1rem !important;
    }
    .Recent_Post h2{
        
text-align: center;
    }
    .Recent_Post ul{
        
margin: 0;
    }
    .Recent_Post ul li{
        
padding-top: 1rem;
    }
    .Recent_Post ul li img{
    
height: 75px;
    
width: 75px;
    }
    .Recent_Post ul li p{
    font-size: 13px;
    }
    .Recent_Post ul li h6{
        
    }
    .New_sletter{
    
padding-top: 2rem !important;
    }
    .New_sletter h2{
        
text-align: center;
    }
    .New_sletter p{
    
    }
    .New_sletter form{
        
    }
    .btn-outline-success:hover {
    
    }
    .btn-outline-success {
    
    }
    .New_sletter p {
    
font-size: 15px;
    
margin-bottom: 30px;
    }
    .New_sletter ul{
    
justify-content: space-between;
    }
    .New_sletter ul li h2{
    
    }
    .New_sletter ul li a i{
    
    }
    .New_sletter ul li a i:hover{
    
    }
    footer{
    
padding: 2rem 0;
    }
    footer p{
        
    }
    footer p span{
    
    }
}
/* (min-width: 321px) and (max-width: 375px) end here  */
/* (min-width: 0px) and (max-width:320px) start here  */
@media (min-width: 0px) and (max-width:320px){
    header{
    
    }
    .navbar-expand-lg {
    
    }
    .body_top-1{
    }
    .body_top-1 ul{
        
    }
    .body_top-1 ul li{
    }
    .body_top-1 ul li a{
        
    }
    .body_top-1 ul li a i{
        
    }
    .body_top-1 ul li a i:hover{
    
    }
    
    .body_top-2{
        
    }
    .body_top-2 ul{
        
    }
    .body_top-2 ul li{
    }
    .body_top-2 ul li a{
        
    }
    .body_top-2 ul li a i{
    
    }
    .body_top-2 ul form{
    
    }
    .btn-search {
    
    }
    .btn-search.btn:hover {
    
    }
    
    .Dental{
    
    }
    .Dental-logo{
    }
    .Dental ul{
    
margin-top: 15px;
    }
    .Dental ul li{
        
    }
    .Dental ul li a{
    
    }
    .Dental ul li a i{
    
font-size: 30px;
    }
    .Dental ul li h2{
        
    }
    .Dental ul li p{
        
margin: 0;
    }
    .hero{
    
    }
    .nav-link {
    
text-align: center;
    }
    .nav-link:focus, .nav-link:hover {
    
    }
    .hero-7{
        
    }
    .hero-7 a{
    
    }
    .hero-7 a i{
        
    }
    .hero-8{
    
    }
    .hero-8 a{
    
    }
    .hero-8 a i{
    
    }
    .banner{
    }
    .bannre_left{
    padding-top: 200px;
    }
    .bannre_left h5{
    
    }
    .banner_right{
        
padding-top: 70px;
    }
    .banner_right ul{
    
    }
    .banner_right ul li{
    
    }
    .banner_right ul li h5{
    
font-size: 16px;
    }
    .banner_right ul li a{
    
font-size: 16px;
    }
    .banner_right ul li a span{
    
font-size: 16px;
    }
    .teeth{
    
margin: 0 !important;
    }
    .teeth-img{
    
    }
    .teeth h2{
    
font-size: 20px;
    }
    .teeth h5{
    
font-size: 20px;
    }
    .teeth p{
    
margin: 0;
    }
    .Search_section{
    
padding: 2rem !important;
    }
    .Search_section form{
    
    }
    .btn-search_2{
    
    }
    .dental-plus{
    
    }
    .dental-plus .img_div{
    
margin: 0;
    
text-align: center;
    }
    .dental-plus p{
    
margin-top: 1rem;
    
text-align: center;
    
font-size: 16px;
    }
    .dental-plus ul{
        
margin-top: 2rem;
    }
    .dental-plus ul li{
        
margin: 0;
        
padding: 0;
    }
    .dental-plus ul li a{
    
font-size: 20px;
    }
    .dental-plus ul li a i{
    
    }
    .dental-plus ul li p{
    
text-align: left;
    
font-size: 14px;
    }
    .Recent_Post{
    
padding-top: 1rem !important;
    }
    .Recent_Post h2{
        
text-align: center;
    }
    .Recent_Post ul{
        
margin-top: 0rem;
    }
    .Recent_Post ul li{
        
    }
    .Recent_Post ul li img{
    
height: 70px;
    
width: 70px;
    }
    .Recent_Post ul li p{
    font-size: 13px;
    }
    .Recent_Post ul li h6{
        
    }
    .New_sletter{
    
text-align: center;
    
padding-top: 10px !important;
    }
    .New_sletter h2{
        
font-size: 30px;
    }
    .New_sletter p{
    
    }
    .New_sletter form{
        
    }
    .btn-outline-success:hover {
    
    }
    .btn-outline-success {
    
    }
    .New_sletter p {
    
font-size: 13px;
    }
    .New_sletter ul{
    }
    .New_sletter ul li h2{
    
margin: 0;
    
margin-right: 10px;
    
font-size: 30px;
    
text-align: left;
    }
    .New_sletter ul li a i{
    
font-size: 22px;
    }
    .New_sletter ul li a i:hover{
    
    }
    footer{
    
padding: 2rem 0;
    }
    footer p{
        
    }
    footer p span{
    
    }
}
/* (min-width: 0px) and (max-width:320px) end here  */